.center {
	text-align: center;
        margin: 1em 0 2em 0;
}

body{
	background-color: #369;
	color: #fff;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:small;
	margin: 2em 1%;
	padding:0;
}

#page{
	color: #000;
	background-color: #fff;
	background-image: url(img/fond.png);
	background-position: top right;
	background-repeat: no-repeat;
	border: 3px solid #000;
}

#language {
	float: right;
	text-align: right;
	margin-right: 1em;
}

#language li {
	list-style: none;
}

#logo {
	float: left;
	text-align: left;
}

#logo img {
	border: 0;
}

#text {
	color: #000;
	background-color: #f5f8fc;
	border: 1px solid #69c;
	line-height: 150%;
	margin: 0 3% 2em 22%;
	padding: 0 2% 3em 2%;
        clear: left;
}

#text h2, #text h3, #text .resultat dt {
	font-family: Georgia, "Times New Roman", Times, serif;
}

#text h2 {
	background-color: transparent;
	color: #369;
	font-size:130%;
}

#text h4 {
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #69c;
	font-weight: 700;
	font-size:small;
	border-bottom: 1px dotted #a1c2e1;
}

#text a,
#language a {
	color:#f60;
	background-color: transparent;
}

#text a:hover,
#language a:hover {
	color:#369;
	background-color: transparent;
	text-decoration: none;
}

#text a:visited,
#language a:visited {
	color:#369;
	background-color: transparent;
}


#menu {
	left: 3%;
	position: fixed;
//	position: absolute;
	top: 180px;
	width: 18%;
}

#geexbox, #feedback {
	color: #655f4b;
	background-color: #fff;
}

#geexbox h2, #feedback h2 {
	border-color: #f90;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	font-size: medium;
	font-weight: 700;
	margin: 0;
	padding-left: 0em;
	text-transform: uppercase;
}

#geexbox h2:first-letter, #feedback h2:first-letter {
	color: #f90;
	background-color: transparent;
}

#geexbox ul, #feedback ul {
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

#geexbox li, #feedback li, #ressources li {
	display: inline;
	list-style: none;
}

#geexbox a, #feedback a {
	color: #f60;
	background-color: transparent;
	display: block;
	font-weight: 700;
	margin-left: -3em;
	padding-left: 1em;
	text-decoration: none;
}

#geexbox a:hover, #feedback a:hover {
	background-color: #ffecce;
	color: #f60;
}

#ressources {
	color: #655f4b;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#ressources h2 {
	border-bottom: 3px #690 solid;
	font-size: medium;
	font-weight: 700;
	margin: 0;
	padding-left: 0em;
	text-transform: uppercase;
}

#ressources h2:first-letter {
	color: #690;
	background-color: transparent;
}

#ressources a {
	color: #690;
	background-color: transparent;
	display: block;
	font-weight: 700;
	margin-left: -3em;
	padding-left: 1em;
	text-decoration: none;
}

#ressources a:hover {
	color: #690;
	background-color: #eaf2db;
}


#styles {
	color: #655f4b;
	background-color: transparent;
	float: left;
        margin-left: 2em;
}

#styles h4 {
	display: inline;
	text-transform: uppercase;
	margin-right: 1em;
}

#styles ul, #styles li {
	display: inline;
	list-style: none;
}

#styles li + li:before {
	content: " - ";
}

#styles a {
	background-color: transparent;
	color: #f60;
}

#styles a:hover {
	background-color: #eff4fa;
	color: #369;
	text-decoration: none;
}

#ours {
	color: #036;
	background-color: transparent;
        text-align: right;
        margin-right: 2em;
        margin-bottom: 1em;
}

#ours a {
	background-color: transparent;
	color: #f60;
}

#ours a:hover {
	background-color: #eff4fa;
	color: #369;
	text-decoration: none;
}

#ours:after {
	content: " Design from the OpenWeb Group.";
}
